.cardDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.details-content {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
}

.card_info {
  line-height: 2;
  font-size: 1.2rem;
  text-align: center;
}

.img img {
  width: 200px;
  margin: 50px;
  border-radius: 100%;
}

@media (max-width: 530px) {
  .details-content {
    flex-direction: column-reverse;
  }
}
